<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dobrofilm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dobrofilm.Properties.Settings>
            <setting name="CategoryListXMLFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FilmListXMLFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MPCPath" serializeAs="String">
                <value>C:\Program Files\K-Lite Codec Pack\Media Player Classic\mpc-hc.exe</value>
            </setting>
            <setting name="LinksListXMLFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultBrowser" serializeAs="String">
                <value>chrome.exe</value>
            </setting>
            <setting name="ScreenShotXMLFile" serializeAs="String">
                <value />
            </setting>
            <setting name="HomeFolders" serializeAs="String">
                <value>C:\Study\FilmsTest;C:\Study\FilmTest2</value>
            </setting>
            <setting name="SettingsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TempFilePathFTP" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPURL" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPPass" serializeAs="String">
                <value />
            </setting>
        </Dobrofilm.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
